@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

.homepage {
  .homepage__buttonWave {
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: 0;
    z-index: -1;
    opacity: 0.45;
  }

  .homepage__topWave {
    position: absolute;
    width: 100vw;
    top: 0;
    opacity: 0.5;
    z-index: -1;
  }
}

.screen {
  color: #fff;
  margin-top: 15vh;

  .screen__container {
    width: 70vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text__container {
      font-family: Arimo, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.2px;

      /* light text */

      color: #ffffff;

      .big__text {
        font-size: 60px;
        text-align: center;
      }

      .small__text {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        line-height: 25px;
        margin: 25px auto 25px auto;
        width: 400px;
      }
    }

    .link__container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 285px;
      margin: 0 auto;

      .button__style1 {
        width: 122px;
        padding: 15px;

        outline: none;
        background: none;

        color: white;
        cursor: pointer;

        font-weight: 400;
        font-family: "Poppins", sans-serif;
        transition: ease-in-out 300ms;

        border: 1px solid #e5e5e5;
        box-sizing: border-box;
      }

      .register__button {
        background-color: #4452fe;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.4px;
        border: none;
      }
    }
  }
}

// mobiles
@media screen and (max-width: 568px) {
  .screen {
    overflow: hidden;
    margin-top: 20%;

    padding: 60px;
    .screen__container {
      width: 100%;
      .text__container {
        .big__text {
          font-size: 33px;
          width: 110%;
        }
        .small__text {
          width: 110%;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .link__container {
    flex-direction: column !important;
    align-items: center;
    margin: 0 !important;
    button {
      margin-top: 10px;
    }
  }
}
